{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <h2>Today</h2>
      
        <!-- Display Tasks -->
        <div class="col-md-4">
            <div class="row">
                <input class = "task-name h5" type="text" placeholder="Task name"> 
                <button class="" type="submit">Add Task</button>
                <p></p>
                {% for task in task_list %}
     
                <a href="{% url 'edittask' task.task_id %}" class="task-link">
                    <h5> {{ task.title }} </h5>
                </a>
                <p class="priority">Priority: {{ task.priority }}</p>
                <p class="status">Status: {{ task.status }}</p>
                <!-- <p class="due-date h6">{{ task.due_date }}</p> -->
            </div>
            <div class="row">
                {% endfor %}

            </div>
        </div>
    </div>

</div>

<!-- index.html content ends here -->
{% endblock %}