{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<h3> Seize your day!</h3>
<div class="container">
    <h1>......</h1>
    <form method="post">
        {% csrf_token %}
        {{ TaskAddForm.as_p }}
        <button type="submit" class="btn btn-success">Add Task</button>
    </form>
    <h1>......</h1>
    <ul class="list-group">
        task_user = {{ task.user }}
        username = {{ user.username }} 

        {% for task in tasks %}
        
        <li class="list-group-item">
            <a href="{% url 'edittask' task.task_id %}" class="task-link">
                <h5> {{ task.title }} </h5>
                <a href="{% url 'deletetask' task.task_id %}" class="task-link">
                    Delete
                </a>
            </a>
        </li>
        
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}